{% import "bootstrap_wtf.html" as wtf %}
<nav class="navbar navbar-expand-md fixed-top fw-medium  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">QuestQuay</a>
    <div class="d-flex">
  

      {% if current_user.is_authenticated %}
      <button id="nav-create-post" title="Make a post" type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 align-items-center create-quest-butto me-3  " data-bs-toggle="modal" data-bs-target="#compose-post">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
    </button>
      {% endif %}
      
      <a id="home-btn" title="Home"  href="{{ url_for('main.index') }}" class="btn btn-link nav-link py-2 px-0 px-lg-2 align-items-center me-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
          <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
        </svg>
    </a>
    <a id="home-btn" title="Profile"  href="{{ url_for('main.user', username=current_user.username) }}" class="btn btn-link nav-link py-2 px-0 px-lg-2 align-items-center me-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"  viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg>
  </a>

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
        </li>
   
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
        </li>
   

        {% endif %}
        {% include "components/theme_toggler.html" %}
      </ul>
      {% if current_user.is_authenticated %}
      <form
        method="GET"
        action="{{ url_for('main.post_search') }}"
        class="d-flex"
        role="search"
      >
      {% if g.search_form %}
        {{ g.search_form.q(class="form-control me-2",id="search-input") }} {{ g.search_form.submit(class="btn btn-outline-success",id="search-submit") }}
      {% endif %}
      </form>
      {% endif %}

    </div>
  </div>
</nav>
