{% import "bootstrap_wtf.html" as wtf %}
<nav class="navbar navbar-expand-md fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">QuestQuay</a>
    <div class="d-flex">
      {% include "components/theme_toggler.html" %}
  
        <button id="nav-create-post" type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 align-items-center create-quest-butto pe-3 " data-bs-toggle="modal" data-bs-target="#compose-post">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
      </button>

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{{ url_for('main.index') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
        </li>
   

        {% endif %}


      </ul>
      <form
        method="GET"
        action="{{ url_for('main.post_search') }}"
        class="d-flex"
        role="search"
      >
      {% if g.search_form %}
        {{ g.search_form.q(class="form-control me-2",id="search-input") }} {{ g.search_form.submit(class="btn btn-outline-success",id="search-submit") }}
      {% endif %}
      </form>
    </div>
  </div>
</nav>
