<div class=" card mb-4 border-0 card-bg rounded-4  shadow  " >
  <div class="row g-0 ">

    <div class="col-md-8  ">
      <div class="card-body ">
        <a href="{{ url_for('main.post', post_id=post.id) }}" class="text-decoration-none ">
        <h5 class="card-title post-title display-5 ">{{ post.title }}</h5>
        </a>
        <div class="ms-1"> 
          {% include 'components/tag.html' with context %}
        </div>

        <a
        class="user-name user-popup my-2  me-3 d-inline-flex   align-items-center "
        href="{{ url_for('main.user', username=post.author.username) }}"
      >
      {% if  post.author.avatar_url %}
      <img class="rounded-circle me-3 profile-avatar-small  profile-avatar-popup object-fit-cover " src="{{post.author.avatar_url}}" />
      {% else %}
      <img class="rounded-circle me-3 " src="{{ post.author.avatar(26) }} style="margin: 5px; float: left"" />
      {% endif %}
        <span class="text-success  ">{{ post.author.username }}</span> 
        </a
      >
        <p class="card-text post-body">{{ post.body }}</p>
        <p class="card-text">posted {{ moment(post.timestamp).fromNow() }}</p>
      </div>
    </div>
    <div class="col-md-4 ">
    {% set img_rul= post.image_url %}
      {% if not img_rul %}
      {% set img_rul= "https://www.uwa.edu.au/-/media/project/uwa/uwa/uwa-corporate/rich-text/sis_illus-swimmingswan_cmyk.png" %}
      {% endif %}
      <img  src={{img_rul}} class="d-none d-md-inline  post-image rounded-end-4 object-fit-cover   " alt="swimmingswan">
    </div>

  </div>
</div>

