html {
  scroll-padding-top: 70px;
}
[data-bs-theme="dark"] a {
  --bs-body-color: #dee2e6;
  --bs-highlight-color: #dee2e6;
  color: var(--bs-body-color);
  text-decoration: none;
}
[data-bs-theme="dark"] a:hover {
  --bs-highlight-color: #dee2e6;
  color: var(--bs-highlight-color);
  text-decoration: underline;
}

body {
  min-height: 100vh;
  transition: background-color 0.3s ease-out, height 0.3s ease-out;
}
header {
  height: 58px;
}
footer {
  min-height: 10rem;
}
textarea {
  width: 100%;
}
.user-name{
  text-decoration: none;

}

.post-title{
  text-decoration: none;
	display: -webkit-box;   
	-webkit-line-clamp: 2;   
	-webkit-box-orient: vertical;     
	overflow: hidden; 
}
.post-body{
	display: -webkit-box;   
	-webkit-line-clamp: 3;   
	-webkit-box-orient: vertical;     
	overflow: hidden; 
}

#side-bar{
  position: sticky;
  height: 78px;
  top: 90px;
}
