{% extends "base.html" %}

{% block content %}
<div class="col-11">
    {% if next_url or prev_url %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    <h1  class="display-3 ">My saves</h1>
    <hr>
    
    {% for post in posts %}
    {% include "components/post.html" %}
    {% endfor %}
    

</div>



{% endblock %}